<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:versionRemoved">
        <handler type="IndexRenderedContent.Sitecore.Events.VersionRemoved, IndexRenderedContent" method="OnVersionRemoved"/>
      </event>
      <event name="item:versionRemoved:remote">
        <handler type="IndexRenderedContent.Sitecore.Events.VersionRemoved, IndexRenderedContent" method="OnVersionRemoved"/>
      </event>
    </events>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration> <!-- switch to your configuration/SOLR as needed -->
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="renderedContent2" storageType="no" indexType="tokenized">Starr.Common.Sitecore.Search.ComputedFields.RenderedContent,Starr.Common</field>
            </fields>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
    <pipelines>
      <indexing.getDependencies>
        <processor type="IndexRenderedContent.Sitecore.Pipelines.GetDatasourceDependencies, IndexRenderedContent"/>
      </indexing.getDependencies>
      <indexing.getIndexableRenderings>
        <processor type="IndexRenderedContent.Sitecore.Pipelines.GetIndexableRenderings,IndexRenderedContent"/>
      </indexing.getIndexableRenderings>
      <indexing.getDatasourceContent>
        <processor type="IndexRenderedContent.Sitecore.Pipelines.GetDatasourceContent,IndexRenderedContent"/>
      </indexing.getDatasourceContent>
      <indexing.renderedContent.Saving>
        <processor type="IndexRenderedContent.Sitecore.Pipelines.StripWhitespace,IndexRenderedContent"/>
      </indexing.renderedContent.Saving>
      <indexing.extractRenderingsDatasources>
        <processor type="IndexRenderedContent.Sitecore.Pipelines.ExtractRenderingDatasourceItems,IndexRenderedContent">
          <fieldId name="LayoutField">{F1A1FE9E-A60C-4DDB-A3A0-BB5B29FE732E}</fieldId>
        </processor>
        <processor type="IndexRenderedContent.Sitecore.Pipelines.ExtractRenderingDatasourceItems,IndexRenderedContent">
          <fieldId name="FinalLayoutField">{04BF00DB-F5FB-41F7-8AB7-22408372A981}</fieldId>
        </processor>
      </indexing.extractRenderingsDatasources>
    </pipelines>
    <indexableRenderings>
      <!-- 
      
          Add indexable renderings as needed. These renderings will have their datasources read and 
          aggregated into the `renderedContent` field in the index.
        
        Example:
        
        <rendering name="RichText" id="{4F8942FF-C4E4-408A-B3D5-4657EE5050CA}" />
        
      -->
      
    </indexableRenderings>
  </sitecore>
</configuration>